$colorGray1: #1E2939;
$colorGray2: #3C495C;
$colorGray3: #626E80;
$colorGray4: #9DA5B1;
$colorGray5: #D4D9DF;
$colorGray6: #F7F9FA;

$colors:  (
  black:      $colorGray1,
  gray:       $colorGray3,
  light-gray: $colorGray5,
  white:      $colorGray6,
  aqua:       #7FDBFF,
  blue:       #0074D9,
  teal:       #39CCCC,
  green:      #2ECC40,
  olive:      #3D9970,
  lime:       #01FF70,
  yellow:     #FFDC00,
  orange:     #FF851B,
  red:        #FF4136,
  fuchsia:    #F012BE,
  purple:     #B10DC9,
  maroon:     #85144B
);

$cellSize: 10px;
$drawingSize: $cellSize * 10;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// * {
//   box-sizing: border-box;
// }

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.drawings {
  @include clearfix;
  text-align: center;
}

.drawing {
  width: $drawingSize;
  height: $drawingSize;
  border: 2px solid $colorGray5;
  border-radius: 3px;
  display: inline-block;
  margin: 10px;
  position: relative;

  &.editing {
    width: $drawingSize * 2;
    height: $drawingSize * 2;
    border-right-width: 1px;
    border-bottom-width: 1px;
  }
}

.cell {
  width: $cellSize;
  height: $cellSize;
  float: left;

  .editing & {
    width: $cellSize * 2;
    height: $cellSize * 2;
    border-right: 1px solid;
    border-bottom: 1px solid;
    color: $colorGray5;
    box-sizing: border-box;
    cursor: pointer;
  }
}

// Cell colors
@each $colorName, $colorHex in $colors {
  [data-color="#{$colorName}"] {
    background-color: $colorHex;
  }
}

.swatch {
  height: 1em;
  width: 1em;
  cursor: pointer;
}
