$colorGray1: #1E2939;
$colorGray2: #3C495C;
$colorGray3: #626E80;
$colorGray4: #9DA5B1;
$colorGray5: #D4D9DF;
$colorGray6: #F7F9FA;

$colors:  (
  black:      $colorGray1,
  gray:       $colorGray4,
  white:      transparent,
  aqua:       #7FDBFF,
  blue:       #0074D9,
  green:      #2ECC40,
  yellow:     #FFDC00,
  orange:     #FF851B,
  red:        #FF4136,
  fuchsia:    #F012BE
);

$cellSize: 0.5em;
$drawingSize: $cellSize * 10;
$radius: 3px;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

@mixin cell-color($color) {
  box-shadow: inset 0 0 0 1px $colorGray6, inset 0 0 0 3px $color;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

button {
  $size: 3em;
  background-color: $colorGray6;
  box-shadow: inset 0 0 0 2px $colorGray4;
  border-radius: $radius;
  border: 0;
  color: $colorGray4;
  cursor: pointer;
  display: block;
  font-size: 0.75em;
  font-weight: bold;
  width: $size;
  height: $size;

  &:hover {
    background-color: $colorGray4;
    color: $colorGray6;
  }
}

.drawings {
  @include clearfix;
  text-align: center;
  margin: 0 auto;
  width: $drawingSize + 2 * $cellSize;
  cursor: pointer;
}

.drawing-container {
  display: inline-block;
  padding: $cellSize;
  position: relative;
}

.drawing {
  box-shadow: 0 0 0 2px $colorGray5;
  height: $drawingSize;
  overflow: hidden;
  width: $drawingSize;
  float: left;
  position: relative;

  &.new {
    $offset: $cellSize * 2;
    color: $colorGray6;
    cursor: pointer;
    display: block;
    line-height: $drawingSize;
    background-color: $colorGray5;
    box-shadow: none;

    &:hover {
      background-color: $colorGray4;
    }
  }

  .editing & {
    border-radius: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
    height: $drawingSize * 2;
    width: $drawingSize * 2;
  }
}

.cell {
  float: left;
  height: $cellSize;
  width: $cellSize;

  .editing & {
    border-bottom: 1px solid;
    border-right: 1px solid;
    color: $colorGray5;
    cursor: crosshair;
    height: $cellSize * 2;
    width: $cellSize * 2;
  }

  &:nth-child(10n+10) {
    border-right: 0;
  }

  &:nth-child(n+91) {
    border-bottom: 0;
  }
}

.actions {
  position: absolute;
  left: 100%;
  top: $cellSize;
  bottom: $cellSize;
  opacity: 0;
  width: 70px;

  .drawing-container:hover &,
  .editing & {
    opacity: 1;
  }

  button {
    position: absolute;
    bottom: 0;
    right: -1em;
  }
}

.drawing-edit {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -1.5em 0 0 -1.5em;
  display: none;

  .drawing-container:hover & {
    display: block;
  }
}

// Cell colors
@each $colorName, $colorHex in $colors {
  [data-color="#{$colorName}"] {
    color: $colorHex;

    &:hover,
    &.cell {
      background-color: $colorHex;
    }

    &.swatch {
      @include cell-color($colorHex);
    }
  }
}

.swatches {
  margin: 0 $cellSize;
  float: left;
}

.swatch {
  $size: $cellSize * 2;
  border-radius: 3px;
  cursor: pointer;
  height: $size;
  position: relative;
  width: $size;
  float: none;

  &:hover {
    background-color: auto;
  }

  &.cell {
    box-shadow: 0 0 3px 3px $colorGray6;
    transform: scale(1.3);
    z-index: 1;
    border: 0;
  }

  &[data-color="white"] {
    @include cell-color($colorGray5);
    background-color: $colorGray6;

    &.cell {
      box-shadow: inset 0 0 0 1px $colorGray4;
    }
  }
}
