$colorGray1: #1E2939;
$colorGray2: #3C495C;
$colorGray3: #626E80;
$colorGray4: #9DA5B1;
$colorGray5: #D4D9DF;
$colorGray6: #F7F9FA;

$colors:  (
  aqua:    #7FDBFF,
  blue:    #0074D9,
  teal:    #39CCCC,
  green:   #2ECC40,
  olive:   #3D9970,
  lime:    #01FF70,
  yellow:  #FFDC00,
  orange:  #FF851B,
  red:     #FF4136,
  fuchsia: #F012BE,
  purple:  #B10DC9,
  maroon:  #85144B,
);

$cellSize: 10px;
$drawingSize: $cellSize * 10;

@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: table;
  }
}

// * {
//   box-sizing: border-box;
// }

html,
body {
  background-color: $colorGray6;
  color: $colorGray1;
  font-family: "helvetica neue", helvetica, arial, sans-serif;
  font-size: 18px;
  line-height: 1.5;
}

.drawings {
  @include clearfix;
  text-align: center;
}

.drawing {
  width: $drawingSize;
  height: $drawingSize;
  border: 2px solid $colorGray5;
  border-radius: 3px;
  display: inline-block;
  margin: 10px;
  position: relative;

  &.editor {
    width: $drawingSize * 2;
    height: $drawingSize * 2;
    border-right-width: 1px;
    border-bottom-width: 1px;
    display: none;
  }

  &.is-editing {
    display: block;
  }
}

.cell {
  width: $cellSize;
  height: $cellSize;
  background-color: $colorGray2;
  position: absolute;
}

.editor-cell {
  width: $cellSize * 2;
  height: $cellSize * 2;
  float: left;
  border-right: 1px solid;
  border-bottom: 1px solid;
  color: $colorGray5;
  box-sizing: border-box;
  cursor: pointer;
}

// Cell colors
.black {
  background-color: $colorGray1;
}

.gray {
  background-color: $colorGray3;
}

.light-gray {
  background-color: $colorGray5;
}

@each $colorName, $colorHex in $colors {
  .#{$colorName} {
    background-color: $colorHex;
  }
}

.swatch {
  height: 1em;
  width: 1em;
}
